body
{
    margin: 0;
    padding: 0;
    background: #000000;
    font-size: 16px;
    color: #000000;
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
}

#login-box
{
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: auto;
    /* background: green; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}   

.left-box
{
    position: absolute;
    top: 20%;
    left: 36%;
    
    box-sizing: border-box;
    padding: 40px; 
}

h1
{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input[type="text"]
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 440px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000000;
    font-family: sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    transition: 0.2s ease
    ;
}

input[type="submit"]
{
    margin-bottom: 28px;
    width: 240px;
    height: 32px;
    background: #f44336;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
    
}

input[type="submit"]:hover,
input[type="submit"]:focus
{
    background: #ff5722;
    transition: 0.2s ease;
}

.select-style {
    border: 1px solid #777;
    width: 120px;
    border-radius: 2px;
    overflow: hidden;
    background: #000000 no-repeat 90% 50%;
    margin: 0;
    padding: 0;
    background: #d8d6d6;
    font-size: 16px;  
    font-family: sans-serif;
    font-weight: 300;
    color: #000000;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    font-family: sans-serif;
}

.select-style select:focus {
    outline: none;
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;

}
