{% load  static%}
{% load recaptcha3 %}
<html>
    <title>
        IoThinC Dashboard
    </title>
    <head>
            <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
            <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{% static 'css/backgroundlogin.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    </head>
    <body>
            <div id='stars'></div>
            <div id='stars2'></div>
            <div id='stars3'></div>
            <div class="body"></div>
            <form method="POST"> 
                    {% csrf_token %}
                <nav>
                    <a>Hi {{User.user}}</a>
                    <a href="/dash/">QUIZ</a>
                    <a href="/logout/">LOGOUT</a>
                    <div id="indicator"></div>
                </nav>
                <br>    
                    <div class="login" align="center" style="padding-top: 17%;"> 
                            <input type="text" placeholder="Registration Number" name="regno" align="center"/><br>
                            <input type="text" placeholder="OTP" name="otp" align="center"/><br>
                            <input type="submit" value="Dive In" align="center"/>
                            <!-- {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %} -->
                    </div>
                    
            </form>
    </body>
    <script>
        {% if messages %}
    {% for message in messages %}
      alert("{{ message }}");
    {% endfor %}
{% endif %}
    </script>
    </html>
