{% load  static%}
<!DOCTYPE html>
<html>
<head>
	<title>Quiz</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/backgroundquiz.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

</head>
<body>
	<script src="{% static 'js/quiz.js' %}" type="text/javascript"></script>
	<div id='stars'></div>
	<div id='stars2'></div>
	<div id='stars3'></div>
	<header id="head">
		<div>Time Left:  <span id="time">10:00</span></div>
	</header>
	<nav class="nav">
		<p>18BIS0108</p>
		<img src="logoedited.gif">
	</nav>
	<div id="heading"> <p>QUESTIONS</p> </div>
	<section class="content">

		<div  class="dimension">
		<form id="a1" action="" method="post">1.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet.
		<br>
		<label><input type="radio" name="ans1" required> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans1"> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans1"> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans1"> lorem ipsum</label>
		</form>
		</div>
		<div  class="dimension">
		<form id="a2" action="" method="post">2.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet.
		<br>
		<label><input type="radio" name="ans2" required> lorem ipsum</label>
		<br>18BIS0108
		<div  class="dimension">
		<form id="a3" action="" method="post">3.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet.
		<br>
		<label><input type="radio" name="ans3" required> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans3"> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans3"> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans3"> lorem ipsum</label>
		</form>
		</div>
		<div  class="dimension">
		<form id="a4" action="" method="post">4.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet.
		<br>
		<label><input type="radio" name="ans4" required> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans4"> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans4"> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans4"> lorem ipsum</label>
		</form>
		</div>
		<div  class="dimension">
		<form id="a5" action="" method="post">5.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet.
		<br>
		<label><input type="radio" name="ans5" required> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans5"> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans5"> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans5"> lorem ipsum</label>
		</form>
		</div>
		<div  class="dimension">
		<form id="a6" action="" method="post">6.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet.
		<br>
		<label><input type="radio" name="ans6" required> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans6"> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans6"> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans6"> lorem ipsum</label>
		</form>
		</div>
		<div  class="dimension">
		<form id="a7" action="" method="post">7.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet.
		<br>
		<label><input type="radio" name="ans7" required> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans7"> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans7"> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans7"> lorem ipsum</label>
		</form>
		</div>
		<div  class="dimension">
		<form id="a8" action="" method="post">8.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet.
		<br>
		<label><input type="radio" name="ans8" required> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans8"> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans8"> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans8"> lorem ipsum</label>
		</form>
		</div>
		<div  class="dimension">
		<form id="a9" action="" method="post">9.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet.
		<br>
		<label><input type="radio" name="ans9" required> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans9"> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans9"> lorem ipsum</label>
		<br>
		<label><input type="radio" name="ans9"> lorem ipsum</label>
		</form>
		</div>
		<div  class="dimension">
		<form id="a10" action="" method="post">10.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet.
		<br>
		<label><input type="radio" name="cr" required> lorem ipsum</label>
		<br>
		<label><input type="radio" name="cr"> lorem ipsum</label>
		<br>
		<label><input type="radio" name="cr"> lorem ipsum</label>
		<br>
		<label><input type="radio" name="cr"> lorem ipsum</label>
		</form>
		</div>
		<div  class="ds">
			<p>
				IT IS MANDATORY TO ANSWER ATLEAST ONE OF THE FOLLOWING QUESTIONS!
			</p>
		</div>
		<div  class="dimension">
			<form id="tech">
				11. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				<br>
				<input class="txtbox" type="text" name="txt" ng-required>
			</form>
		</div>
		<div class="dimension">
			<form id="design">
				12.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				<br>
				<input class="txtbox" type="text" name="txt" ng-required>
			</form>
		</div>
		<div class="dimension">
			<form id="mgmt">
				13.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				<br>
				<input class="txtbox" type="text" name="txt" ng-required>
			</form>
			
		</div>



</section>
		<div class="bn">
			<input id="btn" type="button" value="SUBMIT" onclick="submitForms()" />
		</div>
	
	
</body>
</html>


